extends baseEmail 

block content 
    p Hi #{firstName},
        p Welcome to Freight Vault Home, we're glad to have you.
        p Feel free to contact us via our contact channels if you need any help.
        table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                            tbody
                                tr
                                    td
