.why {
  max-width: 100rem;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.why h2 {
  text-align: center;
}

.why p {
  font-size: 1.2rem;
  /* text-align: center; */
}
