.nav {
  width: 100%;
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.nav a {
  font-size: 1.6rem;
  color: #fff;
  padding: 4rem 4rem;
  text-decoration: none;
}

@media (max-width: 75em) {
  .nav a {
    font-size: 1.3rem;
    padding: 2rem 2rem;
  }
}

@media (max-width: 51.5em) {
  .nav {
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 70rem;
    z-index: 100;
  }
}
